.app {
  margin-top: 1em
}

/* global styles */

/* indicate things are clickable or diabled using hover color changes */

.click-enabled {
  color: #0d6efd;
  cursor: pointer
}

.click-enabled:hover {
  color: #0b5ed7
}

.click-disabled {
  color: gray
}
